
<footer class="page-footer" style="position:fixed;bottom:0;left:0;width:100%">
  <div class="footer-copyright">
    <div class="container">
    © 2014 Linus Nelson I
    <a class="grey-text text-lighten-4 right" href="#!">Git Link</a>
    </div>
  </div>
</footer>
