<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">LOGO HERE</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/requested">Requested Status </a></li>
      <li><a href="/houses_map">Map</a></li>
    </ul>
  </div>
</nav>
